* {
  margin: 0;
  padding: 0;
  text-decoration: none;

}
body{
  background-color: #660000;
}


}
.video {

  margin: 0;
  padding: 0;
}
.squad{
  position: absolute;
  top: 200px;
  left: 280px;
  width:1000px;
  height: 614px;

}
.squadpic{
      width:700px;
    height: auto;
}
.logofcb{
  margin-right: 350px;
  width: 20px;
  height: 60px;
  float: left;
}
.imgfcb{
  width: 100px;
  height: 70px;
  margin-bottom: 2px;
  display: inline-block;
}

nav{
  width: 100%;
  height: 70px;
  background-color: #660000;
}

nav p{
  font-family: arial;
  color: #222
  font-size: 30px;
  line-height: 60px;
  float:left;
  padding: 0px 20px;
}
nav ul{
  float: left;
}
nav ul li{

  float: left;
  list-style: none;
  position: relative;
}
nav ul li a{
  display: block;
  font-family: arial;
  color: white;
  font-size: 17px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul{
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
  display: block;
}

nav ul li ul li a{
  width: 120px;
  border-radius: 10px;
}

nav ul li ul li a{
  padding: 8px 14px;
}
nav ul li ul li a:hover{
  background-color: #800000;
}
section a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  color:#ffffff;
  text-align: bottom;
}
#boxes{
  margin-top:0px;
  width: 100%;
  height: 130px;

}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding:10px;

}
#boxes .box img{
  width: 60px;
}
/**footer{
  padding: 20px;
  margin-top: 20px;
  color: #660000;
  background-color: #660000;
  text-align: center;
}**/
